Repository itloverman/typescriptwebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sasurau4, @Quramy, @Naturalclar, @Takepepe, @khaosdoctor, @danilofuchs, @KingDarBoja, @Kingwl, @Bumkeyy, @jefrydco, @nusendra, @mazipan, @mandaputtra

.github/CODEOWNERS:

# See https://github.com/orta/code-owner-self-merge

# Collaborators for Japanese Translation of the Website
packages/playground-examples/copy/ja/**/*.md @sasurau4 @Quramy @Naturalclar @Takepepe
packages/playground-examples/copy/ja/**/*.ts @sasurau4 @Quramy @Naturalclar @Takepepe
packages/tsconfig-reference/copy/ja/**/*.md @sasurau4 @Quramy @Naturalclar @Takepepe
packages/typescriptlang-org/src/copy/ja/**/*.ts @sasurau4 @Quramy @Naturalclar @Takepepe
packages/typescriptlang-org/src/copy/ja.ts @sasurau4 @Quramy @Naturalclar @Takepepe
packages/documentation/copy/ja/**/*.ts @sasurau4 @Quramy @Naturalclar @Takepepe

# Collaborators for Portuguese Translation of the Website
packages/playground-examples/copy/pt/**/*.md @khaosdoctor @danilofuchs
packages/playground-examples/copy/pt/**/*.ts @khaosdoctor @danilofuchs
packages/tsconfig-reference/copy/pt/**/*.md @khaosdoctor @danilofuchs
packages/typescriptlang-org/src/copy/pt/**/*.ts @khaosdoctor @danilofuchs
packages/typescriptlang-org/src/copy/pt.ts @khaosdoctor @danilofuchs
packages/documentation/copy/pt/**/*.ts @khaosdoctor @danilofuchs

# Collaborators for Spanish Translation of the Website
packages/playground-examples/copy/es/**/*.md @KingDarBoja
packages/playground-examples/copy/es/**/*.ts @KingDarBoja
packages/tsconfig-reference/copy/es/**/*.md @KingDarBoja
packages/typescriptlang-org/src/copy/es/**/*.ts @KingDarBoja
packages/typescriptlang-org/src/copy/es.ts @KingDarBoja
packages/documentation/copy/es/**/*.ts @KingDarBoja

# Collaborators for Chinese Translation of the Website
packages/playground-examples/copy/zh/**/*.md @Kingwl
packages/playground-examples/copy/zh/**/*.ts @Kingwl
packages/tsconfig-reference/copy/zh/**/*.md @Kingwl
packages/typescriptlang-org/src/copy/zh/**/*.ts @Kingwl
packages/typescriptlang-org/src/copy/zh.ts @Kingwl
packages/documentation/copy/zh/**/*.ts @Kingwl

# Collaborators for Korean Translation of the Website
packages/playground-examples/copy/ko/**/*.md @Bumkeyy
packages/playground-examples/copy/ko/**/*.ts @Bumkeyy
packages/tsconfig-reference/copy/ko/**/*.md @Bumkeyy
packages/typescriptlang-org/src/copy/ko/**/*.ts @Bumkeyy
packages/typescriptlang-org/src/copy/ko.ts @Bumkeyy
packages/documentation/copy/ko/**/*.ts @Bumkeyy

# Collaborators for Indonesian Translation of the Website
packages/playground-examples/copy/id/**/*.md @jefrydco @nusendra @mazipan @mandaputtra
packages/playground-examples/copy/id/**/*.ts @jefrydco @nusendra @mazipan @mandaputtra
packages/tsconfig-reference/copy/id/**/*.md @jefrydco @nusendra @mazipan @mandaputtra
packages/typescriptlang-org/src/copy/id/**/*.ts @jefrydco @nusendra @mazipan @mandaputtra
packages/typescriptlang-org/src/copy/id.ts @jefrydco @nusendra @mazipan @mandaputtra
packages/documentation/copy/id/**/*.ts @jefrydco @nusendra @mazipan @mandaputtra

Adds README change
  packages/ts-twoslasher/README.md
Owners: none

add 3 translation files
  packages/tsconfig-reference/copy/ja/categories/Watch_Options_999.md
  packages/tsconfig-reference/copy/ja/intro.md
  packages/tsconfig-reference/copy/ja/options/fallbackPolling.md
Owners: @sasurau4, @Quramy, @Naturalclar, @Takepepe

WIP on migrating the v2 handbook
  packages/documentation/copy/en/handbook-v1/Basic Types.md
  packages/documentation/copy/en/handbook-v2/Basics.md
  packages/documentation/copy/en/handbook-v2/Classes.md
  packages/documentation/copy/en/handbook-v2/Everyday Types.md
  packages/documentation/copy/en/handbook-v2/Modules.md
  packages/documentation/copy/en/handbook-v2/More on Functions.md
  packages/documentation/copy/en/handbook-v2/Narrowing.md
  packages/documentation/copy/en/handbook-v2/Object Types.md
  packages/documentation/copy/en/handbook-v2/Type Declarations.md
  packages/documentation/copy/en/handbook-v2/Types from Extraction.md
  packages/documentation/copy/en/handbook-v2/Types from Transformation.md
  packages/documentation/copy/en/handbook-v2/Understanding Errors.md
  packages/documentation/package.json
  packages/documentation/scripts/generateAttribution.js
  packages/documentation/scripts/lintTwoslashErrors.js
Owners: none

Get the v2 handbook building
  packages/documentation/copy/en/handbook-v2/Basics.md
  packages/documentation/copy/en/handbook-v2/Classes.md
  packages/documentation/copy/en/handbook-v2/Everyday Types.md
  packages/documentation/copy/en/handbook-v2/More on Functions.md
  packages/documentation/copy/en/handbook-v2/Narrowing.md
  packages/documentation/copy/en/handbook-v2/Object Types.md
  packages/documentation/copy/en/handbook-v2/Type Declarations.md
  packages/documentation/copy/en/handbook-v2/Types from Extraction.md
  packages/documentation/copy/en/handbook-v2/Types from Transformation.md
  packages/documentation/copy/en/handbook-v2/Understanding Errors.md
  packages/documentation/scripts/lintTwoslashErrors.js
  packages/ts-twoslasher/CHANGELOG.md
  packages/ts-twoslasher/package.json
  packages/ts-twoslasher/src/index.ts
  packages/ts-twoslasher/test/fixtures/tests/queriesWithSpaceBefore.ts
  packages/ts-twoslasher/test/results/tests/queriesWithSpaceBefore.json
Owners: none

Fix pull request link
  packages/documentation/copy/en/release-notes/TypeScript 4.0.md
Owners: none

Adds the v2 pages, removes from them the sitemap and adds a beta note to the design
  packages/documentation/copy/en/handbook-v2/Basics.md
  packages/documentation/scripts/generateDocsNavigationPerLanguage.js
  packages/documentation/scripts/types/AllFilenames.d.ts
  packages/ts-twoslasher/README.md
  packages/typescriptlang-org/gatsby-config.js
  packages/typescriptlang-org/src/lib/documentationNavigation.ts
  packages/typescriptlang-org/src/templates/documentation.tsx
Owners: none

Package bump
  packages/gatsby-remark-shiki-twoslash/package.json
  packages/shiki-twoslash/package.json
  packages/typescriptlang-org/package.json
Owners: none

fix: fix link "exemplo"
  packages/playground-examples/copy/pt/Typescript/Primitives/Literals.ts
Owners: @khaosdoctor, @danilofuchs

fix: fix "exemplo" typo
  packages/playground-examples/copy/pt/Typescript/Language/Structural Typing.ts
Owners: @khaosdoctor, @danilofuchs

Get it green
  packages/documentation/copy/en/handbook-v2/Object Types.md
  packages/documentation/scripts/generateDocsNavigationPerLanguage.js
  packages/ts-twoslasher/test/fixtures/tests/multiLookups.ts
  packages/ts-twoslasher/test/results/tests/multiLookups.json
  packages/typescriptlang-org/src/lib/documentationNavigation.ts
  packages/typescriptlang-org/src/templates/documentation.tsx
Owners: none

Make a beta page note prettier
  packages/documentation/scripts/generateDocsNavigationPerLanguage.js
  packages/typescriptlang-org/src/lib/documentationNavigation.ts
  packages/typescriptlang-org/src/templates/documentation.scss
  packages/typescriptlang-org/src/templates/documentation.tsx
Owners: none

docs(i18n-id): translate intro.md and several tsconfig section into Indonesian
  packages/tsconfig-reference/copy/id/categories/Additional_Checks_6176.md
  packages/tsconfig-reference/copy/id/categories/Advanced_Options_6178.md
  packages/tsconfig-reference/copy/id/categories/Basic_Options_6172.md
  packages/tsconfig-reference/copy/id/categories/Command_line_Options_6171.md
  packages/tsconfig-reference/copy/id/categories/Experimental_Options_6177.md
  packages/tsconfig-reference/copy/id/categories/Module_Resolution_Options_6174.md
  packages/tsconfig-reference/copy/id/categories/Project_Files_0.md
  packages/tsconfig-reference/copy/id/categories/Source_Map_Options_6175.md
  packages/tsconfig-reference/copy/id/categories/Strict_Type_Checking_Options_6173.md
  packages/tsconfig-reference/copy/id/categories/Watch_Options_999.md
  packages/tsconfig-reference/copy/id/intro.md
  packages/typescriptlang-org/src/copy/id.ts
  packages/typescriptlang-org/src/copy/id/community.ts
  packages/typescriptlang-org/src/copy/id/documentation.ts
  packages/typescriptlang-org/src/copy/id/handbook.ts
  packages/typescriptlang-org/src/copy/id/head-seo.ts
  packages/typescriptlang-org/src/copy/id/index.ts
  packages/typescriptlang-org/src/copy/id/playground.ts
  packages/typescriptlang-org/src/copy/id/tsconfig.ts
Owners: @jefrydco, @nusendra, @mazipan, @mandaputtra

Apply suggestions from code review
  packages/playground-examples/copy/pt/TypeScript/Meta-Types/Conditional Types.ts
  packages/playground-examples/copy/pt/TypeScript/Primitives/Unknown and Never.ts
Owners: @khaosdoctor, @danilofuchs
